<div class="container mb-4">
  <img class="img-thumbnail" src="http://fakeimg.pl/1140x300/?text=Demo">
  <h2 class="mt-4">展演任務</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group text-gray">
        <i class="fa fa-star" aria-hidden="true"></i>
        <label>展覽名稱</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" placeholder="請輸入展覽名稱" [value]="missionData.missionname" readonly>
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <label>參展時間</label>
        <span class="text-danger">*</span>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="選擇日期">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="輸入時間">
          </div>
        </div>
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <label>參展地點</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" placeholder="請輸入地點" [value]="missionData.missionlocation" readonly>
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
        <label>心得感想</label>
        <span class="text-danger">*</span>
        <textarea class="form-control" rows="6" [(ngModel)]="missionDetail.experience"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <div class="form-group text-gray">
          <i class="fa fa-check-square" aria-hidden="true"></i>
          <label>展覽類型</label>
          <span class="text-danger">*</span>
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">資訊</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">學習</span>
            </label>
          </div>
        </div> -->
      <div class="form-group text-gray">
        <i class="fa fa-photo" aria-hidden="true"></i>
        <label>照片上傳（可拖曳圖片至內容處）</label>
        <span class="text-danger">*</span>
        <swal #dialogSuccess title="上傳成功" type="success" [options]="{ timer : '1000' }"></swal>
        <swal #dialogError title="上傳失敗" type="error"></swal>
        <p-fileUpload #fileUpload name="photoFile[]" multiple="multiple" accept="image/*" [customUpload]="true" [showUploadButton]="false"
          (onSelect)="uploadHandler(fileUpload)" (onRemove)="uploadHandler(fileUpload)" (onClear)="uploadHandler(fileUpload)"></p-fileUpload>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-info form-control" (click)="saveMissionDetail()">送出</button>
  </div>
</div>
