#introduce .intro-action {
  padding: .75rem;
  border-radius: 3px;
  background-color: #fcfcfc;
  box-shadow: 3px 3px 0 0 #f0f0f0;
  border: 1px solid #dce0e0;
}

.intro-label {
  margin-bottom: 1rem;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  text-align: center;
}

.intro-action button {
  cursor: pointer;
  box-shadow: 3px 3px 0 0 #f0f0f0;
}

.intro-action button:not(:last-child){
    margin-bottom: 1rem;
}
  
