<div id="create">
    <div class="container">
        <div class="row">
            <div class="col-md-12 row justify-content-center setbar">
                <div class="col-md-3 row justify-content-center">
                <span class="titletext">新建活動</span>
                </div>
            </div>
            <div class="col-md-12 settop">
                <form>
                    <div class="form-group row justify-content-center">
                        <label for="inputPassword" class="col-sm-1 setrightpadding col-form-label setnopadding setcontenttext ">活動名稱</label>
                        <div class="col-sm-8">
                            <input class="form-control setbackgr" id="inputPassword" placeholder="輸入活動名稱">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="inputPassword" class="col-sm-1 setrightpadding col-form-label setnopadding setcontenttext">活動時間</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputPassword" placeholder="開始日期">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" id="inputPassword" placeholder="開始時間">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="inputPassword" class="col-sm-1 setrightpadding col-form-label setnopadding setcontenttext">活動類別</label>
                        <div class="col-sm-8">
                            <select class="settext setbackgr" name="任務類別" style="width:100%;height:100%">
                                <option value="1">資訊任務</option>
                                <option value="2">展演任務</option>
                                <option value="3">運動任務</option>
                                <option value="4">美術任務</option>
                                <option value="5">清潔任務</option>
                                <option value="6">旅遊任務</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="inputPassword" class="col-sm-1 setrightpadding col-form-label setnopadding setcontenttext">活動地址</label>
                        <div class="col-sm-8">
                            <input class="form-control " id="inputPassword" placeholder="請輸入地方">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="inputPassword" class="col-sm-1 setrightpadding col-form-label setnopadding setcontenttext">完成點數</label>
                        <div class="col-sm-8">
                            <input class="form-control setbackgr" id="inputPassword" placeholder="請輸入獎勵">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="inputPassword" class="col-sm-1 setrightpadding col-form-label setnopadding setcontenttext">活動照片</label>
                        <div class="col-sm-8">
                            <img src="http://fakeimg.pl/730x350/?text=I need attractive photos">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center col-md-12">
                        <div class="col-md-9 ">

                        </div>
                        <div class="col-md-1 setbtw">
                            <button type="button" class="btn btn-primary setbtn">上傳</button>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="inputPassword" class="col-sm-1 setrightpadding col-form-label setnopadding setcontenttext">活動描述</label>
                        <div class="col-sm-8">
                            <input style="color:black;" class="form-control setheight " placeholder="請輸入活動描述">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <button type="button" class="btn btn-primary col-md-3">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>