<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron pic-text">
  <div class="container ">

  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>展演講座</h1>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-secondary">Secondary＞</button>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top imgbig" src="./assets/img/activity1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
          <p class="card-time">2017-10-01(日) 00:00~00:00</p>
          <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
          <div class="row card-control">
            <div class="col-md-12">
              <a href="#" class="btn btn-info btn-all">瞭解詳情</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 row">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top imgsmall" src="./assets/img/activity1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
            <p class="card-time">2017-10-01(日) 00:00~00:00</p>
            <p class="card-text">【 我貼，故我在 】系列第一波：</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card">
          <img class="card-img-top imgsmall" src="./assets/img/activity1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
            <p class="card-time">2017-10-01(日) 00:00~00:00</p>
            <p class="card-text">【 我貼，故我在 】系列第一波：</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top imgsmall" src="./assets/img/activity1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
            <p class="card-time">2017-10-01(日) 00:00~00:00</p>
            <p class="card-text">【 我貼，故我在 】系列第一波：</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top imgsmall" src="./assets/img/activity1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
            <p class="card-time">2017-10-01(日) 00:00~00:00</p>
            <p class="card-text">【 我貼，故我在 】系列第一波：</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row justify-content-center">
    <div class="col-md-6 row text-set">
      <div class="col-md-9">
        <h2>資訊任務</h2>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-secondary ">更多</button>
      </div>
      <div class="col-md-6">
        <img src="./assets/img/h1.jpg" class="card-img-top img-set">
      </div>
      <div class="col-md-6">
        <img src="./assets/img/h1.jpg" class="card-img-top img-set">
      </div>
    </div>
    <div class="col-md-6 row text-set">
      <div class="col-md-9 ">
        <h2>展演任務</h2>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-secondary">更多</button>
      </div>
      <div class="col-md-6 ">
        <img src="./assets/img/h1.jpg" class="img-set">
      </div>
      <div class="col-md-6 ">
        <img src="./assets/img/h1.jpg" class="img-set">
      </div>
    </div>
  </div>


  <div class="container card-set">
    <div class="row justify-content-center">
      <div class="col-md-6 row text-set">
        <div class="col-md-9">
          <h2>旅遊任務</h2>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary">更多</button>
        </div>
        <div class="card col-md-6">
          <img class="img-set" src="./assets/img/h3.jpg">
          <div class="card-text">
            <h6 class="text-top">自行規劃</h6>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="container row">
                <div class="col-md-9">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-info">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-6">
          <img class="img-set" src="./assets/img/h3.jpg">
          <div class="card-text">
            <h6 class="text-top">別人規劃</h6>
          </div>
          <div class="card-body">
            <div class="col-md-11">
              <div class="container row">
                <div class="col-md-9">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-info">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 row text-set">
        <div class="col-md-9">
          <h2>清潔任務</h2>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary">更多</button>
        </div>
        <div class="card col-md-6">
          <img class="img-set" src="./assets/img/h3.jpg">
          <div class="card-text">
            <h6 class="text-top">室內環境</h6>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="container row">
                <div class="col-md-9">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-info">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-6">
          <img class="img-set" src="./assets/img/h3.jpg">
          <div class="card-text">
            <h6 class="text-top">戶外環境</h6>
          </div>
          <div class="card-body">
            <div class="col-md-11">
              <div class="container row">
                <div class="col-md-9">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-info">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container card-set">
        <div class="row justify-content-center">
          <div class="col-md-6 row text-setex">
            <div class="col-md-9">
              <h2>運動任務</h2>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary">更多</button>
            </div>
            <div class="card col-md-6">
              <img class="img-set" src="./assets/img/h4.jpg">
              <div class="card-text">
                <h6 class="text-top">球類</h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <div class="container row">
                    <div class="col-md-9">
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-info">挑戰</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-md-6">
              <img class="img-set" src="./assets/img/h4.jpg">
              <div class="card-text">
                <h6 class="text-top">單車</h6>
              </div>
              <div class="card-body">
                <div class="col-md-11">
                  <div class="container row">
                    <div class="col-md-9">
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-info">挑戰</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 row text-setex">
            <div class="col-md-9">
              <h2>美術任務</h2>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary">更多</button>
            </div>
            <div class="card col-md-6">
              <img class="img-set" src="./assets/img/h4.jpg">
              <div class="card-text">
                <h6 class="text-top">實體作品</h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <div class="container row">
                    <div class="col-md-9">
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-info">挑戰</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-md-6">
              <img class="img-set" src="./assets/img/h4.jpg">
              <div class="card-text">
                <h6 class="text-top">數位作品</h6>
              </div>
              <div class="card-body">
                <div class="col-md-11">
                  <div class="container row">
                    <div class="col-md-9">
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star star-set" aria-hidden="true"></i>
                      <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-info">挑戰</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

          <div class="container set-hei">
            <div class="row justify-content-center">
              <div class="col-md-11 row ">
                <div class="col-md-10">
                  <h1>主辦單位</h1>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-info">更多 <i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
              </div>
              <div class="col-md-10 row">
                <div class="col-md-2 set-back">
                  <div class="col-md-12">
                    <img src="./assets/img/h4.jpg" class="img-setax">
                  </div>
                  <div class="col-md-12">
                    <p class="d-inline-block text-truncate" style="max-width: 80px;">台北青年職涯</p>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-info">+追蹤</button>
                  </div>
                </div>
                <div class="col-md-2 set-back">
                  <div class="col-md-12">
                    <img src="./assets/img/h4.jpg" class="img-setax">
                  </div>
                  <div class="col-md-12">
                    <p class="d-inline-block text-truncate" style="max-width: 80px;">五倍紅寶石</p>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-info">+追蹤</button>
                  </div>
                </div>
                <div class="col-md-2 set-back">
                  <div class="col-md-12">
                    <img src="./assets/img/h4.jpg" class="img-setax">
                  </div>
                  <div class="col-md-12">
                    <p class="d-inline-block text-truncate" style="max-width: 80px;">地下連雲企業</p>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-info">+追蹤</button>
                  </div>
                </div>
                <div class="col-md-2 set-back">
                  <div class="col-md-12">
                    <img src="./assets/img/h4.jpg" class="img-setax">
                  </div>
                  <div class="col-md-12">
                    <p class="d-inline-block text-truncate" style="max-width: 80px;">93巷人文空間</p>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-info">+追蹤</button>
                  </div>
                </div>
                <div class="col-md-2 set-back">
                  <div class="col-md-12">
                    <img src="./assets/img/h4.jpg" class="img-setax">
                  </div>
                  <div class="col-md-12">
                    <p class="d-inline-block text-truncate" style="max-width: 80px;">餘白藝廊</p>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-info">+追蹤</button>
                  </div>
                </div>
                <div class="col-md-2 set-back">
                  <div class="col-md-12">
                    <img src="./assets/img/h4.jpg" class="img-setax">
                  </div>
                  <div class="col-md-12">
                    <p class="d-inline-block text-truncate" style="max-width: 80px;">天下雜誌</p>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-info">+追蹤</button>
                  </div>
                </div>

              </div>
            </div>
          </div>