
#home {
    background-color: #f5f5f5;  
    padding-top: 28px;  
    padding-bottom: 50px;
}
#home .backgroundwhite{
    background-color: #FFFFFF;
}
#home .pictext{
    margin-top: 80px;
    width: 100%;
    height: 300px;
}
#home .setbetweentop{
    margin-top: 8px;
}
#home setbettop{
    margin-bottom: 20px;
    margin-top: 20px;
}
#home .setbetop{
    margin-top: 30px;
    margin-bottom: 30px;
}
#home .row{
    margin-left: 0px;
    margin-right: 0px;
}
#home .card{
    height: 100%;
}
#home .button{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#home .title-text{
    font-size: 25px;
}
#home .setcardtop{
    top: 20px;
}
#home .setheight{
    overflow: hidden;
}
#home .home-btn{
    width: 100%;
}
#home .setbottompadding{
    padding-bottom: 0px;
}
#home .settop-top{
    margin-top: 30px;
}
#home .setleftpadding{
    padding-left: 0px;
}
#home .settopbottom{
    margin-top: 20px;
    margin-bottom: 20px;
}
#home .setrightpadding{
    padding-right: 0px;
}
#home .setpadding{
    padding-left: 0px;
    padding-right: 0px;
}
#home .setborder{
    border-radius: 1em;
    border: 2px solid #E0E0E0;
}
#home .setradius{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#home .setmargin-left{
    margin-left: 15px;
}
#home .setfooterimg{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}
.home-setfooterbackg{
    background-color: #adad85;
}
#home .setfootermargin-right{
    margin-right: 5px;
}
#home .setfootermargin-bottom{
    margin-bottom: 10px;
    margin-left: 10px;
}
#home .sethight{
    height: 350px;
}
#home .setbottom-bottom{
    margin-bottom:  20px;
}
#home .setmargin-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
}
#home .img-thumbnail{
    color: #adad85;
    /* color: #FF5258; */
    border: 1px solid #adad85;
    border-radius: 99em;
}
#home .img-thumbnail:hover{
    color: #ff0000;
    border: 1px solid #FF5258;
}
#home .btnheight{
    height: 100%;
}
#home .setmarginbotttom{
    margin-bottom: 20px;
}
#home .hottext{
    /* 愛心圖案文字的設定 */
    font-size: 14px;
    color:  #ff6666;
}
#home .text-title{
    font-size: 16px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow : hidden;
}
#home .text-time{
    font-size: 12px;
    color: #94b8b8;
}
#home .text-text{
    font-size: 14px;
    text-overflow : ellipsis;
    overflow : hidden;
    white-space:nowrap;
    line-height: 14px;
}
#home .sameheight{
    height: 100%;
}

.home-setcounterhigh{
    margin-top:68px;
}
.home-imgbig{
    height: 250px;
}
.home-imgsmall{
    height: 100px;
}
.home-setimg{
    width: 100%;
    height: 220px;
}
.home-setmiddleheight{
    top: 50px;
}
.home-setbottomhei{
    margin-top: 70px;
}
#home a{
    cursor: pointer;
}
.home-setmiddletext{
    margin-top: 10px;
}
.home-setbottompic{
    width: 50px;
    height: 50px;
}
#home .setfootertop{
    margin-top: 20px;
}
.home-setfooterbottom{
    margin-bottom:30px; 
}
