<div id="home">
  <div class="container">
    <img class="pictext col-md-12" src="./assets/activity/activity1.png" alt="">
  </div>
  <div class="container">
    <div class="row align-items-center setbetweentop">
      <div class="col-md">
        <h1>展演講座</h1>
      </div>
      <div class="col-md text-right setrightpadding">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary">Secondary＞</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-md">
        <div class="card row align-items-end">
          <img class="card-img-top home-imgbig" src="./assets/activity/activity1.png">
          <div class="card-body">
            <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
            <p class="card-time">2017-10-01(日) 00:00~00:00</p>
            <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
          </div>
          <div class="button">
            <a href="#" class="btn btn-info home-btn">瞭解詳情</a>
          </div>
        </div>
      </div>
      <div class="col-md-1 setpadding">
      </div>
      <div class="col-md">
        <div class="col-md-12 row setpadding">
          <div class="col-md setleftpadding">
            <div class="card ">
              <img class="card-img-top home-imgsmall settop-bottom" src="./assets/activity/activity1.png">
              <div class="card-body">
                <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
                <p class="card-time">2017-10-01(日) 00:00~00:00</p>
                <p class="card-text">【 我貼，故我在 】系列第一波：</p>
              </div>
            </div>
          </div>
          <div class="col-md row setrightpadding">
            <div class="card">
              <img class="card-img-top home-imgsmall settop-bottom" src="./assets/activity/activity1.png">
              <div class="card-body">
                <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
                <p class="card-time">2017-10-01(日) 00:00~00:00</p>
                <p class="card-text">【 我貼，故我在 】系列第一波：</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 row setpadding setbetweentop">
          <div class="col-md setleftpadding">
            <div class="card">
              <img class="card-img-top home-imgsmall settop-bottom" src="./assets/activity/activity1.png">
              <div class="card-body">
                <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
                <p class="card-time">2017-10-01(日) 00:00~00:00</p>
                <p class="card-text">【 我貼，故我在 】系列第一波：</p>
              </div>
            </div>
          </div>
          <div class="col-md row setrightpadding">
            <div class="card">
              <img class="card-img-top home-imgsmall settop-bottom" src="./assets/activity/activity1.png">
              <div class="card-body">
                <h4 class="card-title">限時團購！【 我貼，故我在 】</h4>
                <p class="card-time">2017-10-01(日) 00:00~00:00</p>
                <p class="card-text">【 我貼，故我在 】系列第一波：</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row col-md-12 setbetweentop setpadding">
      <div class="col-md row setpadding">
        <div class="col-md-12 row setpadding">
          <div class="col-md ">
            <h2>資訊任務</h2>
          </div>
          <div class="col-md text-right ">
            <button type="button" class="btn btn-secondary">更多</button>
          </div>
        </div>
        <div class="col-md-12 row setpadding">
          <div class="col-md ">
            <img src="./assets/activity/h1.jpg" class="home-setimg ">
          </div>
          <div class="col-md">
            <img src="./assets/activity/h1.jpg" class="home-setimg  ">
          </div>
        </div>
      </div>
      <div class="col-md-1 setpadding">
      </div>
      <div class="col-md row setpadding">
        <div class="col-md-12 row setpadding">
          <div class="col-md ">
            <h2>展演任務</h2>
          </div>
          <div class="col-md text-right">
            <button type="button" class="btn btn-secondary">更多</button>
          </div>
        </div>
        <div class="setpadding">
          <div class="col-md-12 row setpadding">
            <div class="col-md ">
              <img src="./assets/activity/h1.jpg" class="home-setimg ">
            </div>
            <div class="col-md ">
              <img src="./assets/activity/h1.jpg" class="home-setimg  ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row setbetweentop">
      <div class="col-md row setpadding">
        <div class="col-md-9 ">
          <h2>旅遊任務</h2>
        </div>
        <div class="col-md-3 text-right">
          <button type="button" class="btn btn-secondary ">更多</button>
        </div>
        <div class="col-md  setcard-between ">
          <div class=" setborder setpadding">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">自行規劃</h6>
            </div>
            <div class="card-body">
              <div class="container row ">
                <div class="col-md-9  ">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 ">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md  setcard-between">
          <div class="col-md-12 setpadding setborder">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">別人規劃</h6>
            </div>
            <div class="card-body">
              <div class="container row">
                <div class="col-md-9 setpadding">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 setpadding">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 setpadding">
      </div>
      <div class="col-md row setpadding">
        <div class="col-md-9">
          <h2>清潔任務</h2>
        </div>
        <div class="col-md-3 text-right ">
          <button type="button" class="btn btn-secondary ">更多</button>
        </div>
        <div class="col-md setcard-between">
          <div class="setpadding setborder">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">室內環境</h6>
            </div>
            <div class="card-body">
              <div class="container row">
                <div class="col-md-9 setpadding">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 setpadding">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md setcard-between">
          <div class="col-md-12 setpadding setborder">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">戶外環境</h6>
            </div>
            <div class="card-body">
              <div class="container row">
                <div class="col-md-9 setpadding">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 setpadding">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row setbetweentop">
      <div class="col-md row setpadding">
        <div class="col-md-9 ">
          <h2>運動任務</h2>
        </div>
        <div class="col-md-3 text-right">
          <button type="button" class="btn btn-secondary ">更多</button>
        </div>
        <div class="col-md  setcard-between">
          <div class=" setpadding setborder">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">球類</h6>
            </div>
            <div class="card-body">
              <div class="container row ">
                <div class="col-md-9 setpadding ">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 setpadding">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md  setcard-between">
          <div class="col-md-12 setpadding setborder">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">單車</h6>
            </div>
            <div class="card-body">
              <div class="container row">
                <div class="col-md-9 setpadding">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 setpadding">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 setpadding">
      </div>
      <div class="col-md row setpadding">
        <div class="col-md-9">
          <h2>美術任務</h2>
        </div>
        <div class="col-md-3 text-right ">
          <button type="button" class="btn btn-secondary ">更多</button>
        </div>
        <div class="col-md setcard-between">
          <div class="setpadding setborder">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">實體作品</h6>
            </div>
            <div class="card-body">
              <div class="container row">
                <div class="col-md-9 setpadding">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 setpadding">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md setcard-between">
          <div class="col-md-12 setpadding setborder">
            <img class="home-setimg" src="./assets/activity/h3.jpg">
            <div class="card-text">
              <h6 class="home-setmiddletext">數位作品</h6>
            </div>
            <div class="card-body">
              <div class="container row">
                <div class="col-md-9 setpadding">
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star star-set" aria-hidden="true"></i>
                  <i class="fa fa-star-o star-set" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 setpadding">
                  <button type="button" class="btn btn-info" (click)="btnMission();">挑戰</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center home-setbottomhei">
      <div class="row col-md-10 setleftpadding setrightpadding">
        <div class="col-md setleftpadding">
          <h1>主辦單位</h1>
        </div>
        <div class="col-md text-right setrightpadding">
          <div class="col-md-12 setrightpadding">
            <button type="button" class="btn btn-secondary">更多</button>
          </div>
        </div>
      </div>
      <div class="col-md-10 row setpadding">
        <div class="col-md home-setfooterbackg setfootermargin-right">
          <div class="col-md-12">
            <img src="./assets/activity/home1.png" class="setfooterimg">
          </div>
          <div class="col-md-12">
            <p class="d-inline-block text-truncate" style="max-width: 80px;">台北青年職涯</p>
          </div>
          <div class="col-md-12 setfootermargin-bottom ">
            <button type="button" class="btn btn-info">+追蹤</button>
          </div>
        </div>
        <div class="col-md home-setfooterbackg setfootermargin-right">
          <div class="col-md-12">
            <img src="./assets/activity/home1.png" class="setfooterimg">
          </div>
          <div class="col-md-12">
            <p class="d-inline-block text-truncate" style="max-width: 80px;">五倍紅寶石</p>
          </div>
          <div class="col-md-12 setfootermargin-bottom">
            <button type="button" class="btn btn-info">+追蹤</button>
          </div>
        </div>
        <div class="col-md home-setfooterbackg setfootermargin-right">
          <div class="col-md-12">
            <img src="./assets/activity/home1.png" class="setfooterimg">
          </div>
          <div class="col-md-12">
            <p class="d-inline-block text-truncate" style="max-width: 80px;">地下連雲企業</p>
          </div>
          <div class="col-md-12 setfootermargin-bottom">
            <button type="button" class="btn btn-info">+追蹤</button>
          </div>
        </div>
        <div class="col-md home-setfooterbackg setfootermargin-right">
          <div class="col-md-12">
            <img src="./assets/activity/home1.png" class="setfooterimg">
          </div>
          <div class="col-md-12">
            <p class="d-inline-block text-truncate" style="max-width: 80px;">93巷人文空間</p>
          </div>
          <div class="col-md-12 setfootermargin-bottom">
            <button type="button" class="btn btn-info">+追蹤</button>
          </div>
        </div>
        <div class="col-md home-setfooterbackg setfootermargin-right">
          <div class="col-md-12">
            <img src="./assets/activity/home1.png" class="setfooterimg">
          </div>
          <div class="col-md-12">
            <p class="d-inline-block text-truncate" style="max-width: 80px;">餘白藝廊</p>
          </div>
          <div class="col-md-12 setfootermargin-bottom">
            <button type="button" class="btn btn-info">+追蹤</button>
          </div>
        </div>
        <div class="col-md home-setfooterbackg">
          <div class="col-md-12">
            <img src="./assets/activity/home1.png" class="setfooterimg">
          </div>
          <div class="col-md-12">
            <p class="d-inline-block text-truncate" style="max-width: 80px;">天下雜誌</p>
          </div>
          <div class="col-md-12 setfootermargin-bottom">
            <button type="button" class="btn btn-info">+追蹤</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 row justify-content-center">
        <div class="col-md-3 setfootertop " style="text-align:center">
          <h2>合作夥伴</h2>
        </div>
      </div>
      <div class="col-md-12 home-setfootertop"></div>
      <div class="col-md-1 home-setfooterbottom">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic ">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
      <div class="col-md-1">
        <img src="./assets/activity/h6.jpg" class="home-setbottompic">
      </div>
    </div>
  </div>
</div>