.home-pictext {
  background-color: green;
  height: 300px;
}

.home-btn {
  width: 100%;
}

.home-imgbig {
  height: 250px;
}

.home-imgsmall {
  height: 100px;
}

.home-settext {
  top: 30px;
}

.home-setimg {
  width: 100%;
  height: 120px;
}

.home-sethightext {
  top: 40px;
}

.home-setmiddleheight {
  top: 50px;
}

.home-setbottomhei {
  margin-top: 70px;
}

.home-setfooterimg {
  width: 80px;
  height: 140px;
}

.home-setfooterbackg {
  background-color: #FFFFFF;
}

.home-setmiddletext {
  margin-top: 10px;
}
