<div id="profile">

  <nav class="navbar navbar-expand-lg navbar-default bg-light">
    <div class="container collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="user/profile">個人資訊 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">任務點數</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">12</div>
      <div class="col-lg-6">12</div>
    </div>
  </div>

</div>
