<div class="user-profile jumbotron bg-white pb-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img class="user-photo img-thumbnail" src="./assets/activity/profile.png" alt="">
      </div>
      <div class="col-sm-10">
        <h2>{{userdata.childname}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <ul class="nav nav-tabs user-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="mission-like-tab" data-toggle="tab" href="#like-tab" role="tab" aria-controls="like-tab" aria-expanded="true">喜歡的任務(5)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="mission-join-tab" data-toggle="tab" href="#join-tab" role="tab" aria-controls="join-tab">參加的任務({{missionlist.length}})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="mission-track-tab" data-toggle="tab" href="#track-tab" role="tab" aria-controls="track-tab">追蹤的主辦單位(0)</a>
    </li>
  </ul>
  <div class="tab-content user-tab-content">
    <div class="tab-pane fade show active" id="like-tab" role="tabpanel" aria-labelledby="mission-like-tab">
      <div class="card">
        <img class="card-img-top" src="./assets/activity/activity1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
          <p class="card-time">2017-10-01(日) 00:00~00:00</p>
          <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
          <div class="row card-control">
            <div class="col-sm-6">
              <a href="#" class="img-thumbnail liked">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <span class="card-text">5</span>
            </div>
            <div class="col-sm-6">
              <a href="#" class="btn btn-info">熱門中</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="join-tab" role="tabpanel" aria-labelledby="mission-join-tab">
      <div class="card" *ngFor="let mission of missionlist ; let i = index">
        <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}">
          <img class="card-img-top" src="{{ mission.missionpicture }}">
        </a>
        <div class="card-body">
          <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}">
            <h4 class="card-title">{{ mission.missionname }}</h4>
          </a>
          <p class="card-time">{{ mission.missioncreatetime | date: 'yyyy/MM/dd' }}</p>
          <p class="card-text">{{ mission.missioncontent }}</p>
          <div class="row card-control">
            <div class="col-sm-6">
              <a class="img-thumbnail liked">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <span class="card-text">5</span>
            </div>
            <div class="col-sm-6">
              <a class="btn btn-info" [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}">{{ missions[i].status }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="track-tab" role="tabpanel" aria-labelledby="mission-track-tab">
      <div class="card">
        <img class="card-img-top" src="./assets/activity/activity1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">主辦單位</h4>
          <p class="card-time">2017-10-01(日) 00:00~00:00</p>
          <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
          <div class="row card-control">
            <div class="col-sm-6">
              <a href="#" class="img-thumbnail">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <span class="card-text">5</span>
            </div>
            <div class="col-sm-6">
              <a href="#" class="btn btn-info">熱門中</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
