<div class="container mb-4">
  <img class="img-thumbnail" src="http://fakeimg.pl/1140x300/?text=1140x300">
  <h3 class="mt-4">運動任務
    <button type="button" class="float-right btn btn-info" [routerLink]="['/mission/introduce']" [queryParams]="{id:missionData.id}">返回資訊</button>
  </h3>
  <h5>
    <span class="badge p-2" [ngClass]=" { 
      'badge-info': missionDetail.status == '已參加',
      'badge-primary': missionDetail.status == '已提交',
      'badge-danger': missionDetail.status == '已退回',
      'badge-success': missionDetail.status == '已審核'
     }">{{ missionDetail.status }}</span>
  </h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group text-gray">
        <i class="fa fa-star" aria-hidden="true"></i>
        <label>運動名稱</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" placeholder="請輸入旅遊名稱" [value]="missionData.missionname" readonly>
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <label>運動場域</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" placeholder="請輸入地點" [(ngModel)]="missionDetail.sportplace" [readonly]="!missionEditMode">
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <label>運動日期</label>
        <span class="text-danger">*</span>
        <input *ngIf="!missionEditMode && missionDetail.sportdate" class="form-control" type="text" [value]="missionDetail.sportdate.formatted"
          readonly>
        <my-date-picker [hidden]="!missionEditMode" [options]="myDatePickerOptions" [(ngModel)]="missionDetail.sportdate" required></my-date-picker>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group text-gray">
        <div *ngIf="missionEditMode">
          <i class="fa fa-photo" aria-hidden="true"></i>
          <label>照片上傳（可拖曳圖片至內容處）</label>
          <span class="text-danger">*</span>
          <p-fileUpload #fileUpload name="photoFile[]" multiple="multiple" accept="image/*" [customUpload]="true" [showUploadButton]="false"
            (onSelect)="uploadHandler(fileUpload)" (onRemove)="uploadHandler(fileUpload)" (onClear)="uploadHandler(fileUpload)"></p-fileUpload>
        </div>
        <div *ngIf="!missionEditMode">
          <i class="fa fa-photo" aria-hidden="true"></i>
          <label>照片預覽</label>
          <div *ngFor="let p of missionPhotoList">
            <img class="img-thumbnail d-block mb-2" [src]="p">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="missionEditMode" class="form-group">
    <button type="button" class="btn btn-info form-control" (click)="saveMissionDetail()">提交心得</button>
  </div>
</div>
<swal #dialogSuccess title="更新成功" type="success" [options]="{ timer : '1000' }"></swal>
<swal #dialogError title="更新失敗" type="error"></swal>
