<div class="counter ">
  <div class="col-md-12 row justify-content-center">
    <img src="./assets/img/h6.jpg" alt="" class="sport-settoppic col-md-8 row justify-content-center sport-settophigh">
  </div>
</div>
<div class="counter">
  <div class="row justify-content-center">
    <div class="col-md-3 sport-setitemtop row justify-content-center">
      <h6>球類</h6>
    </div>
    <div class="sport-settopborder col-md-10 row justify-content-center">
    </div>
    <div class="col-md-9 sport-setitemtop">
      <span>日期：</span><input type="text" value=" 年 / 月 / 日">
    </div>
    <div class="col-md-9 sport-setitemtop">
      <span>運動場域：</span><input type="text"> <span>ex:學校、運動場、堤防</span>
    </div>
    <div class="col-md-9 sport-setitemtop">
      <span>照片上傳：</span><button class="btn btn-info" type="submit">選擇檔案</button><span>未選擇任何檔案  (至少一張圖片)</span>
    </div>
    <div class="col-md-10 sport-setitemtop row justify-content-center">
      <div class="col-md-4">
        <span>預覽：</span>
      </div>
      <div class="col-md-7">
        <img class="sport-setimgsize" src="./assets/img/activity7.jpg" alt="">
      </div>
    </div>
    <div class="col-md-9 sport-setitemtop">
      <span>任務分類：</span><input type="checkbox" value="1">運動<input type="checkbox" value="2">學習<input type="checkbox" value="3">其他
      <input type="text" value="">
    </div>
    <div class="col-md-9 sport-setitemtop">
      <span>任務標籤：</span><input type="checkbox" value="1">籃球<input type="checkbox" value="2">足球<input type="checkbox" value="3">羽毛球
      <input type="checkbox" value="3">其他<input type="text" value="">
    </div>
    <div class="col-md-4 row justify-content-center">
        <button type="button" class="btn btn-info sport-btntop">送出</button>
    </div>
  </div>
</div>