#footer {
    padding-bottom: 2rem;
    margin-top: 2rem;
    background-color: #1e1e15;
}

#footer span{
    font-size: 22px;
    margin-top: 50px;
    color:  #abab87;
}
#footer .settop{
    margin-top: 20px;
}
#footer a {
    display: block;
    font-size: 12px;
    color: #f2f2f2;
}
