<div class="counter">
  <div class="row justify-content-center">
    <div class="col-md-8 row justify-content-center home-setfooterbackgr">
      <div class="col-md-2">
        <h4 class="footer-settoptext">舉辦活動</h4>
        <h6 class="footer-setmiddletext">如何開始第一個活動</h6>
        <h6 class="footer-setmiddletext">活動人物誌</h6>
        <h6 class="footer-setmiddletext">活動好場地</h6>
        <h6 class="footer-setmiddletext">主辦方FB社群</h6>
        <h6 class="footer-setmiddletext">贊助計畫</h6>
      </div>
      <div class="col-md-2">
        <h4 class="footer-settoptext">參加活動</h4>
        <h6 class="footer-setmiddletext">功能介紹</h6>
        <h6 class="footer-setmiddletext">活動新鮮事</h6>
      </div>
      <div class="col-md-2">
        <h4 class="footer-settoptext">關於我們</h4>
        <h6 class="footer-setmiddletext">加入我們</h6>
        <h6 class="footer-setmiddletext">服務條款</h6>
        <h6 class="footer-setmiddletext">合作夥伴</h6>
      </div>
      <div class="col-md-3">
          <h4 class="footer-settoptext">ISHARE客服中心</h4>
          <h6 class="footer-setmiddletext">服務信箱:xxxxxx@gmail.com</h6>
          <h6 class="footer-setmiddletext">週一到週五</h6>
          <button type="button" class="btn btn-primary footer-setbtn">客服小幫手</button>
        </div>
    </div>
  </div>
</div>