<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container settop">
        <div class="row">
          <div class="col-md-3">
            <span>舉辦活動</span>
            <a href="#">費用方案</a>
            <a href="#">主辦方FB社群</a>
            <a href="#">常見問題</a>
          </div>
          <div class="col-md-3">
            <span>參加活動</span>
            <a href="#">功能介紹</a>
            <a href="#">活動新鮮事</a>
          </div>
          <div class="col-md-3">
            <span>關於我們</span>
            <a href="#">加入我們</a>
            <a href="#">服務條款</a>
            <a href="#">合作夥伴</a>
          </div>
          <div class="col-md-3">
            <span>ISHARE客服中心</span>
            <a>服務信箱:xxxxxx@gmail.com</a>
            <a>週一到週五</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
