<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="counter">
  <div class="row justify-content-center">
    <div class="col-md-12 row justify-content-center footer-setfooterbackgr">
      <div class="col-md-2">
        <h4 class="footer-settoptext">舉辦活動</h4>
        <a href="#" class="footer-setmiddletext">費用方案</a><br>
        <a href="#" class="footer-setmiddletext">主辦方FB社群</a><br>
        <a href="#" class="footer-setmiddletext">常見問題</a><br>

      </div>
      <div class="col-md-2">
        <h4 class="footer-settoptext">參加活動</h4>
        <a href="#" class="footer-setmiddletext">功能介紹</a><br>
        <a href="#" class="footer-setmiddletext">活動新鮮事</a><br>
      </div>
      <div class="col-md-2">
        <h4 class="footer-settoptext">關於我們</h4>
        <a href="#" class="footer-setmiddletext">加入我們</a><br>
        <a href="#" class="footer-setmiddletext">服務條款</a><br>
        <a href="#" class="footer-setmiddletext">合作夥伴</a><br>
      </div>
      <div class="col-md-3">
        <h4 class="footer-settoptext">ISHARE客服中心</h4>
        <h6 class="footer-setbottomtext">服務信箱:xxxxxx@gmail.com</h6>
        <h6 class="footer-setbottomtext">週一到週五</h6>
        <button type="button" class="btn btn-primary footer-setbtn">客服小幫手</button>
      </div>
    </div>
  </div>
</div>
<div class="counter">
  <div class="row justify-content-center">
    <div class="col-md-12 row justify-content-center footer-setmiddlehigh">
      <div class="col-md-2 ">
        <h4>最新消息</h4>
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
        <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-md-4">
        <h4>下載Accupass App</h4>
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
        <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-md-3">
        <h4>語言</h4>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle footer-setbottomwidth" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                  English
                </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">繁體中文</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>