<div class="container mb-4">
  <img class="img-thumbnail" src="http://fakeimg.pl/1140x300/?text=Photo Demo">
  <h2 class="mt-4">影片任務</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group text-gray">
        <i class="fa fa-star" aria-hidden="true"></i>
        <label>影片名稱</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" placeholder="請為自己的影片取名字" [(ngModel)]="videoName">
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <label>影片網址</label>
        <span class="text-danger">*</span>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">https://www.youtube.com/watch?v=</div>
          <input type="text" class="form-control" [(ngModel)]="videoUrl" (change)="ConvertUrl()">
        </div>
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
        <label>心得感想</label>
        <span class="text-danger">*</span>
        <textarea class="form-control" rows="6" placeholder="請填寫心得感想" [(ngModel)]="videoExp"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group text-gray">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <label>影片預覽</label>
        <div class="form-control embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="videoUrlFrm"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-info form-control">送出</button>
  </div>
</div>
