<div class="container mb-4">
  <img class="img-thumbnail w-100" src="http://fakeimg.pl/1080x300/?text=1080x300">
  <div class="row mt-4">
    <div class="col-md-10">
      <h3>
        <a href="#" [routerLink]="['/mission/introduce']" [queryParams]="{ id : missionData.id }">{{ missionData.missionname }}</a>
      </h3>
    </div>
    <div class="col-md-2 text-right">
      <div class="h5">
        <span class="badge p-2 mr-1 mt-1" [ngClass]="{
                          'badge-primary': missionData.missiontype == '影片任務',
                          'badge-success': missionData.missiontype == '展演任務',
                          'badge-danger': missionData.missiontype == '旅遊任務',
                          'badge-warning': missionData.missiontype == '清潔任務',
                          'badge-info': missionData.missiontype == '運動任務',
                          'badge-secondary': missionData.missiontype == '美術任務'
                        }">{{ missionData.missiontype }}</span>
        <span class="badge p-2 mr-1 mt-1" [ngClass]=" {
                          'badge-info': missionDetail.status == '已參加',
                          'badge-primary': missionDetail.status == '已提交',
                          'badge-danger': missionDetail.status == '已退回',
                          'badge-success': missionDetail.status == '已審核'
                        }">{{ missionDetail.status }}</span>
      </div>
    </div>
  </div>
  <hr>
  <div *ngIf="userdata['teacherusername']" class="row mt-4">
    <div *ngIf="missionDetail.status == '已提交'" class="col-sm-3 col-lg-2 form-group">
      <button class="btn btn-lg btn-success form-control" type="button" (click)="dialogPass.show()">
        <i class="fa fa-check-circle mr-2" aria-hidden="true"></i>心得核准</button>
    </div>
    <div *ngIf="missionDetail.status == '已提交'" class="col-sm-3 col-lg-2 form-group">
      <button class="btn btn-lg btn-secondary form-control" type="button" (click)="dialogReject.show()">
        <i class="fa fa-times-circle mr-2" aria-hidden="true"></i>心得退回</button>
    </div>
    <div *ngIf="missionDetail.status == '已退回'" class="col-sm-3 col-lg-2 form-group">
      <button class="btn btn-lg btn-secondary form-control" type="button" (click)="dialogRevert.show()">
        <i class="fa fa-times-circle mr-2" aria-hidden="true"></i>還原待審</button>
    </div>
    <div class="col-sm-3 col-lg-2 form-group" [ngClass]="{ 'offset-lg-8': missionDetail.status == '已退回', 'offset-lg-6': missionDetail.status == '已提交', 'offset-lg-10': missionDetail.status == '已審核' }">
      <button class="btn btn-lg btn-info form-control" type="button" [routerLink]="['/user/teacher']" [queryParams]="{ tab : 1 }">
        <i class="fa fa-arrow-circle-left mr-2" aria-hidden="true"></i>返回列表</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group text-gray">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <label>旅遊地點</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" placeholder="請輸入地點" [(ngModel)]="missionDetail.travelplace" [readonly]="!missionEditMode || userdata['teacherusername']">
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <label>旅遊日期</label>
        <span class="text-danger">*</span>
        <input *ngIf="( !missionEditMode  || userdata['teacherusername'] ) && missionDetail.traveldate" class="form-control" type="text"
          [value]="missionDetail.traveldate.formatted" readonly>
        <my-date-picker [hidden]="!missionEditMode || userdata['teacherusername']" [options]="myDatePickerOptions" [(ngModel)]="missionDetail.traveldate"
          required></my-date-picker>
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-user" aria-hidden="true"></i>
        <label>隨行成員</label>
        <span class="text-danger">*</span>
        <div class="form-group">
          <div *ngIf="!missionEditMode || userdata['teacherusername']">
            <span *ngIf="missionMember['家人']" class="badge badge-info p-2 mr-2">家人</span>
            <span *ngIf="missionMember['朋友']" class="badge badge-info p-2 mr-2">朋友</span>
          </div>
          <div *ngIf="missionEditMode && userdata['childusername']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" value="家人" [checked]="missionMember['家人']" (change)="missionMember[$event.target.value] = $event.target.checked">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">家人</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" value="朋友" [checked]="missionMember['朋友']" (change)="missionMember[$event.target.value] = $event.target.checked">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">朋友</span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <label>費用估計</label>
        <span class="text-danger">*</span>
        <input type="number" class="form-control" placeholder="請輸入金額" [(ngModel)]="missionDetail.travelcost" min="0" max="100000"
          [readonly]="!missionEditMode || userdata['teacherusername']">
      </div>
      <div class="form-group text-gray">
        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
        <label>心得感想</label>
        <span class="text-danger">*</span>
        <textarea class="form-control" rows="6" [(ngModel)]="missionDetail.experience" [readonly]="!missionEditMode || userdata['teacherusername']"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group text-gray">
        <div *ngIf="missionEditMode && userdata['childusername']">
          <i class="fa fa-photo" aria-hidden="true"></i>
          <label>照片上傳（可拖曳圖片至內容處）</label>
          <span class="text-danger">*</span>
          <p-fileUpload #fileUpload name="photoFile[]" multiple="multiple" accept="image/*" [customUpload]="true" [showUploadButton]="false"
            (onSelect)="uploadHandler(fileUpload)" (onRemove)="uploadHandler(fileUpload)" (onClear)="uploadHandler(fileUpload)"></p-fileUpload>
        </div>
        <div *ngIf="!missionEditMode || userdata['teacherusername']">
          <i class="fa fa-photo" aria-hidden="true"></i>
          <label>照片預覽</label>
          <div *ngFor="let p of missionPhotoList">
            <img class="img-thumbnail d-block mb-2" [src]="p">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="missionEditMode && userdata['childusername']" class="form-group">
    <button type="button" class="btn btn-info form-control" (click)="saveMissionDetail()">提交心得</button>
  </div>
</div>
<swal #dialogSuccess title="更新成功！" type="success" [options]="{ timer : '1000' }"></swal>
<swal #dialogError title="更新失敗！" type="error" [options]="{ timer : '1000' }"></swal>
<swal #dialogErrorCheck title="資料沒有填完整唷！" type="error" [options]="{ timer : '1000' }"></swal>

<swal type="question" title="確定要通過？" #dialogPass [options]="{ showCancelButton: 'true' }" (confirm)="PassMission(missionDetail.missionid, missionDetail.childusername)"></swal>
<swal type="success" title="已審核完成" #dialogPassSuccess [options]="{ timer : '1000' }"></swal>
<swal type="question" title="確定要退回？" #dialogReject [options]="{ showCancelButton: 'true' }" (confirm)="RejectMission(missionDetail.missionid, missionDetail.childusername)"></swal>
<swal type="success" title="已退回心得" #dialogRejectSuccess [options]="{ timer : '1000' }"></swal>
<swal type="question" title="要還原成待審？" #dialogRevert [options]="{ showCancelButton: 'true' }" (confirm)="RevertMission(missionDetail.missionid, missionDetail.childusername)"></swal>
<swal type="success" title="已還原完成" #dialogRevertSuccess [options]="{ timer : '1000' }"></swal>
