<div id="interduce">

  <!-- Loading -->
  <div class="row loading" *ngIf="!ischeck">
    <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
    </div>
  </div>

  <div class="container" *ngIf="ischeck">
    <div class="row col-md-12 setrightpadding" *ngFor="let mission of missions">
      <div class="col-md-12 setpadding setback">
        <div class="col-md-12 setpadding">
          <img class="setpicwidth" src="{{mission.missionpicture}}" alt="">
        </div>
        <div class="col-md-12 row settop setpadding">
          <div class="col-md-9 row">
            <div class="col-md-12">
              <span class="text-title">{{mission.missionname}}</span>
            </div>
            <div class="col-md-12 settop ">
              <p class="text-time">
                <i class="fa fa-calendar setsize " aria-hidden="true"></i>活動時間</p>
            </div>
            <div class="col-md-12">
              <span class="text-timemin">{{mission.missioncreatetime | date: 'yyyy/MM/dd'}}~{{mission.missionexperiencetime | date: 'yyyy/MM/dd'}}</span>
            </div>
            <div class="col-md-12 settop ">
              <p class="text-time">
                <i class="fa fa-map-marker setsize" aria-hidden="true"></i>活動地點</p>
            </div>
            <div class="col-md-12">
              <span class="text-timemin">{{mission.missionlocation}}</span>
            </div>
            <div class="col-md-12 settop ">
              <p class="text-time">
                <i class="fa fa-scribd setsize" aria-hidden="true"></i> 活動描述</p>
            </div>
            <div class="col-md-12">
              <p class="text-body">{{mission.missioncontent}}</p>
            </div>
          </div>
          <div class="col-md-3">
            <div id="MyBlog" class="setpadding">
              <div class="col-md-12 texttitle setmarginbottom ">
                <span class="settext">{{mission.missionname}}</span>
              </div>
              <div class="col-md-12 setmarginbottom">
                <span class="right-body">快來參加活動哦</span>
              </div>
              <div class="col-md-12 setmarginbottom">
                <p class="right-body">{{mission.missioncreatetime | date: 'yyyy/MM/dd'}}~{{mission.missionexperiencetime | date: 'yyyy/MM/dd'}}</p>
              </div>
              <div class="col-md-12  setmarginbottom">
                <button *ngIf="!isJoin" type="button" class="btn btn-info btn-maxw" data-toggle="modal" data-target="#exampleModal">
                  參加活動
                </button>
                <button *ngIf="isJoin" type="button" class="form-group btn btn-warning  btn-maxw">
                  參加中
                </button>
                <button *ngIf="isFinish" type="button" class="form-group btn btn-info btn-maxw" (click)="btnExperience(missionid)">
                  前往填寫心得
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-checkjoin [missionid]="missionid" (onJoin)="onJoin($event)"></app-checkjoin>
<!-- <app-experience [missionid] = "missionid"></app-experience> -->
