.form-inline h6,
.form-inline a {
    font-size: 1rem;
}

.form-inline a:hover {
    color: #2ab3fc;
}

.navbar-group i {
    margin-right: 3px;
}

.navbar-group .user-menu img {
    border-radius: 100%;
}

@media screen and (max-width:768px) {
    .navbar>.container {
        all: unset;
    }
}
