<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-blue">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsGroup"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <a class="navbar-brand" href="#">天使計劃</a>

    <div class="collapse navbar-collapse" id="navbarsGroup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">任務 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="找任務">
        <a href="#" class="btn bg-inherit text-white" data-toggle="modal" data-target="#loginModal">登入</a>
        <a href="#" class="btn bg-inherit text-white" data-toggle="modal" data-target="#signupModal">註冊</a>
        <button class="btn btn-info bg-info" type="submit">辦活動</button>
      </form>
    </div>
  </div>
</nav>



<app-login></app-login>
<app-signup></app-signup>
