<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <a class="navbar-brand" href="#">天使計劃</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">地區</a>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              地區
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">三重</a>
              <a class="dropdown-item" href="#">永和</a>
              <a class="dropdown-item" href="#">蘆洲</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              搜尋任務
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">美食</a>
              <a class="dropdown-item" href="#">藝術</a>
              <a class="dropdown-item" href="#">科學</a>
            </div>
          </div>
        </li>
        <li>
          <i class="fa fa-search " aria-hidden="true" ></i>
        </li>
      </ul>>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="找任務">
        <a href="#" class="btn bg-inherit text-white" data-toggle="modal" data-target="#loginModal">登入</a>
        <a href="#" class="btn bg-inherit text-white" data-toggle="modal" data-target="#signupModal">註冊</a>
        <button class="btn btn-info" type="submit">辦活動</button>
      </form>
    </div>
  </div>
</nav>

<app-login></app-login>
<app-signup></app-signup>