/*

  按鈕客製化

  使用方法如同 bootstrap 的 btn-lg

  bootstrap 預設：
  class="btn-lg"
  class="btn-sm"

*/

.btn {
  border: 0;
  cursor: pointer;
}

.btn-maxw {
  width: 100%;
}

.btn-white {
  color: #757575;
  background-color: #fff;
  border: 1px solid #bdbdbd;
}

.btn-white:hover {
  color: #454545;
}
