<div class="container">
  <div class="col-md-12 row justify-content-center">
    <img src="./assets/activity/setpic.jpg" alt="" class="sport-settoppic col-md-8 row justify-content-center sport-settophigh">
  </div>
  <div class="col-md-12">
    <div class="col-md row justify-content-center">
      <h4>參與展覽</h4>
    </div>
  </div>
  <div class="sport-settopborder">

  </div>

</div>

<div class="container">
  <form>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">展覽名稱：</label>
      <div class="col-sm-3 setpadding">
        <input type="password" class="form-control" id="inputPassword">
      </div>
      <small class="form-text text-muted">ex:畢卡索藝術展覽</small>
    </div>    
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">時間：</label>
      <div class="col-sm-3 setpadding">
        <input type="password" class="form-control" id="inputPassword" placeholder="年 / 月 / 日 ">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">地點：</label>
      <div class="col-sm-3 setpadding">
        <input type="password" class="form-control" id="inputPassword">
      </div>
      <small class="form-text text-muted">ex:美術館、博物館、科教館</small>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">照片上傳：</label>
      <button type="submit" class="btn btn-secondary col-sm-1">選擇檔案</button>
      <small class="form-text text-muted col-sm-2">未選擇任何檔案</small>
      <small class="form-text text-muted col-sm-4">(至少一張展演資訊圖片和一張FB打卡照片)</small>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">預覽：</label>
      <img src="./assets/activity/h4.jpg" alt="" class="col-sm-3 setpadding setimgsize">
      <img src="./assets/activity/h4.jpg" alt="" class="col-sm-3 setpadding setimgsize">
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">任務分類：</label>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> 資訊  
          </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> 學習  
            </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">任務標籤：</label>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> 照片
          </label>
      </div>
      <div class="form-check form-check-inline ">
        <label class="form-check-label ">
             <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> 博物館  
            </label>
      </div>
      <div class="form-check form-check-inline ">
        <label class="form-check-label ">
             <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> 美術館  
            </label>
      </div>
      <div class="form-check form-check-inline ">
        <label class="form-check-label ">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> 台北
              </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <div class="col-md row justify-content-center">
          <label for="exampleFormControlTextarea1">展覽介紹</label>
        </div>
      </div>
      <div class="col-md-12 row justify-content-center">
        <div class="col-md-8 ">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12 row justify-content-center">
      <div class="col-md row justify-content-center">
        <button type="button" class="btn btn-secondary">Secondary</button>
      </div>
    </div>
  </form>
</div>