<div class="search">
  <div class="search-data jumbotron bg-white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" id="hot">
          <p class="hot-tagbox">熱門：
            <a href="#" class="hot-tagbox-item">大稻埕國際藝術節</a>
            <a href="#" class="hot-tagbox-item">FOX家庭露營日</a>
            <a href="#" class="hot-tagbox-item">Accupa Line帳號</a>
          </p>
        </div>
        <div class="col-xs-12" id="location">
          <dl class="dl-data">
            <dt class="dl-data-dt">
              <span class="h3">
                <b>地區</b>
              </span>
            </dt>
            <dd class="dl-data-dd">
              <a href="#" class="dl-data-item-active">全部</a>
              <a href="#" class="dl-data-item">新北</a>
              <a href="#" class="dl-data-item">桃園</a>
              <a href="#" class="dl-data-item">新竹</a>
              <a href="#" class="dl-data-item">苗栗</a>
              <a href="#" class="dl-data-item">台中</a>
              <a href="#" class="dl-data-item">南投</a>
              <a href="#" class="dl-data-item">彰化</a>
              <a href="#" class="dl-data-item">雲林</a>
              <a href="#" class="dl-data-item">嘉義</a>
              <a href="#" class="dl-data-item">台南</a>
              <a href="#" class="dl-data-item">高雄</a>
              <a href="#" class="dl-data-item">屏東</a>
              <a href="#" class="dl-data-item">宜花東</a>
              <a href="#" class="dl-data-item">基隆</a>
              <a href="#" class="dl-data-item">香港</a>
              <a href="#" class="dl-data-item">其他</a>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12" id="Category">
          <dl class="dl-data">
            <dt class="dl-data-dt">
              <span class="h3">
                <b>分類</b>
              </span>
            </dt>
            <dd class="dl-data-dd">
              <a href="#" class="dl-data-item-active">全部</a>
              <a href="#" class="dl-data-item">精選</a>
              <a href="#" class="dl-data-item">推薦</a>
              <a href="#" class="dl-data-item">藝文</a>
              <a href="#" class="dl-data-item">美食</a>
              <a href="#" class="dl-data-item">運動</a>
              <a href="#" class="dl-data-item">旅遊</a>
              <a href="#" class="dl-data-item">科技</a>
              <a href="#" class="dl-data-item">娛樂</a>
              <a href="#" class="dl-data-item">學習</a>
              <a href="#" class="dl-data-item">商業</a>
              <a href="#" class="dl-data-item">健康</a>
              <a href="#" class="dl-data-item">其他</a>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12" id="times">
          <dl class="dl-data">
            <dt class="dl-data-dt">
              <span class="h3">
                <b>時間</b>
              </span>
            </dt>
            <dd class="dl-data-dd">
              <a href="#" class="dl-data-item-active">全部</a>
              <a href="#" class="dl-data-item">今天</a>
              <a href="#" class="dl-data-item">明天</a>
              <a href="#" class="dl-data-item">本周</a>
              <a href="#" class="dl-data-item">本周末</a>
              <a href="#" class="dl-data-item">已結束</a>
              <a href="#" class="dl-data-item">自訂</a>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12" id="ticketprice">
          <dl class="dl-data">
            <dt class="dl-data-dt">
              <span class="h3">
                <b>票價</b>
              </span>
            </dt>
            <dd class="dl-data-dd">
              <a href="#" class="dl-data-item-active">全部</a>
              <a href="#" class="dl-data-item">免費</a>
              <a href="#" class="dl-data-item">付費</a>
            </dd>
          </dl>
        </div>
        <div class="btn-group">
          <a href="#" type="button" class="search-group-btn-active btn btn-default">最準確</a>
          <a href="#" type="button" class="search-group-btn btn btn-default">時間近</a>
          <a href="#" type="button" class="search-group-btn btn btn-default">高瀏覽</a>
          <a href="#" type="button" class="search-group-btn btn btn-default">高收藏</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 row setpadding setbottom">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/activity/activity2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
              <p class="card-time">2017-10-01(日) 00:00~00:00</p>
              <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
              <div class="row card-control">
                <div class="col-sm-6">
                  <a href="#" class="img-thumbnail active">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <span class="card-text">5</span>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="btn btn-info">熱門中</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/activity/activity2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
              <p class="card-time">2017-10-01(日) 00:00~00:00</p>
              <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
              <div class="row card-control">
                <div class="col-sm-6">
                  <a href="#" class="img-thumbnail active">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <span class="card-text">5</span>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="btn btn-info">熱門中</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/activity/activity2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
              <p class="card-time">2017-10-01(日) 00:00~00:00</p>
              <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
              <div class="row card-control">
                <div class="col-sm-6">
                  <a href="#" class="img-thumbnail active">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <span class="card-text">5</span>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="btn btn-info">熱門中</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 row setpadding setbottom">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/activity/activity2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
              <p class="card-time">2017-10-01(日) 00:00~00:00</p>
              <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
              <div class="row card-control">
                <div class="col-sm-6">
                  <a href="#" class="img-thumbnail active">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <span class="card-text">5</span>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="btn btn-info">熱門中</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/activity/activity2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
              <p class="card-time">2017-10-01(日) 00:00~00:00</p>
              <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
              <div class="row card-control">
                <div class="col-sm-6">
                  <a href="#" class="img-thumbnail active">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <span class="card-text">5</span>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="btn btn-info">熱門中</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/activity/activity2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">限時團購！【 我貼，故我在 】系列，Git 高質感貼紙</h4>
              <p class="card-time">2017-10-01(日) 00:00~00:00</p>
              <p class="card-text">【 我貼，故我在 】系列第一波：Git 高質感貼紙，我們準備了兩款優質的貼紙設計，有「 純淨透明款」與「 萬用純白款」，適合貼在不同色系</p>
              <div class="row card-control">
                <div class="col-sm-6">
                  <a href="#" class="img-thumbnail active">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <span class="card-text">5</span>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="btn btn-info">熱門中</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a class="active" href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
  </div>
</div>